body {
    background-color:#DCF5F8;
    background-image:url('images/sky.gif');
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    background-repeat:repeat-x;
}
.vine {
    background-image:url('images/swirls.png');
    background-color:#BFEBEF;
    background-repeat:repeat-x;
    background-position:-15px;
    height:200px;
    width:100%;
    position:relative;
    clear:both;
    top:-65px;
}
.tagline {
	color:#55BAC6;
	font-style:normal;
	font-size:20px;
	font-family:Georgia, "Times New Roman", serif;
	float:left;
	clear:left;
	position:relative;
	font-weight:bold;
	display:block;
	margin:0px;
	padding:0px;
	text-transform: none;
}
body,
html {
    margin:0;
    padding:0;
}
#wrap {
    width:910px;
    position:relative;
    top:-90px;
    margin:0 auto;
}
#header {
    width:100%;
    margin-bottom:10px;
    display:inline-block;
    position:relative;
    padding:5px 5px;
}
#nav {
    padding:0px;
    width:910px;
    height:45px;
}
#nav ul {
    margin:0;
    list-style:none;
}
#nav li {
    float:right;
    padding:5 10 5px;
    display:inline;
    font-style:italic;
    font-weight:bold;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:15px;
    color:white;
    background-color:#55bac6;
    -moz-border-radius:10px;
    border-radius:10px;
    margin-right:10px;
}
#nav li:hover{background-color:#ffc641;
}
#main {
    float:left;
    width:465px;
    padding:10 0 0px;
}
#subtitle {
    float:left;
    width:100px;
}
#subtitlenav {
    float:right;
    width:365px;
    padding:0px;
}
#subtitlenav ul {
    padding:0px;
    margin:0px;
    font-family:Georgia, "Times New Roman", serif;
    text-align:center;
}
#subtitlenav li {
    background-image:url('images/cloud.png');
    background-repeat:no-repeat;
    background-position:center;
    display:inline;
    float:right;
    padding:35px;
    font-size:12px;
    font-weight:bold;
}
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:80px;
	font-weight:bold;
	position:relative;
	text-transform:lowercase;
	letter-spacing:-4px;
	float:left;
	display:block;
	margin:0;
}
h2 {
    margin:0 0 1em;
}
h4 {
    margin:0.5em 0 0;
}
h6 {
    margin:0 0 1em;
}
#sidebar {
    float:right;
    width:420px;
    padding:10px;
    color:#55BAC6;
}

#footer {
    position:relative;
    top:-100px;
    clear:both;
}
#footer .sun {
    float:left;
    width:403px;
    height:180px;
    background-image:url('images/sun.png');
    background-repeat:no-repeat;
    position:relative;
    left:100px;
}
#footer .logo {
    color:white;
    float:right;
    right:150px;
    top:100px;
    padding:5px;
    position:relative;
    background-color:#55bac6;
    -moz-border-radius:5px;
    border-radius:5px;
}
#footer .logo:hover{
		text-decoration:none;
    background-color:#ffc641;
}
#footer .grass {
    background-image:url('images/grass.png');
    z-index:50;
    width:100%;
    clear:both;
    position:relative;
    padding:0px;
    margin:0px;
    height:49px;
    background-repeat:repeat-x;
}
#footer .land {
    background-color:#63BE6A;
    width:100%;
    height:10px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
#footer .colophon{
    background-color:#63BE6A;
    text-align:center;
    font-size:11px;
    position:relative;
    width:100%;
    color:white;
    padding-bottom:30px;
    padding-top:30px;
    margin:0px;
    z-index:50;
}
a:link {text-decoration:none; color:#55BAC6;}
a:hover {color:#ffc641;}
